.about
    background-color: $glass-color
    filter: drop-shadow(-23px 50px 5px $drop-color)
    margin-bottom: $margin-bottom
    padding: 20px
    display: flex
    flex-flow: column wrap
    justify-content: center
    border-radius: $border-radius
    border: $border
    font-size: 1.6rem
    
    
.about__contact:link
        color: #efefef
    
.about__contact:visited
        color: #efefef
    
.about__contact:hover
        color: #efefef
        
    
@include mw480
    .about
        font-size: 2rem
        
@include mw680

        
@include mw980
    .about
        background-color: $glass-color980
        filter: none
        font-size: 2rem
        margin-bottom: 50px
        padding: 20px 45px
        box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75)
        border-radius: 60px
        
    .about__contact:link
        color: #203066
    
    .about__contact:visited
        color: #203066
    
    .about__contact:hover
        color: #203066