.main-window
    background-color: $color-violet
    font-size: 1.5rem
    color: $white
    width: 100%
    padding: 10px
    
.main-window__wrap
    max-width: 1000px
    margin: 0 auto
    
@include mw980
    
    .main-window
        background-color: #efefef
        color: #203066